# Node.js
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# IDEs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.slnmy-portfolio-site/node_modules
my-portfolio-site/.next
npm-debug.log
yarn-error.log
out
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
