.footer {
  width: 100%;
  padding: 20px;
  background-color: #001f3f; /* Navy blue background */
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon {
  width: 30px;
  height: 30px;
  color: #fff;
}