.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: flex-start;
  height: 100vh;
  width: 100%; /* Adjust based on sidebar width */
  background-color: #f0f0f0;
  color: #333;
  padding-top: 60px; /* Move content down */
  margin: 0; /* Ensure no extra margin */
  border: none; /* Ensure no border */
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #001f3f; /* Navy blue text */
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #001f3f; /* Navy blue text */
}

.container {
  padding: 0 2rem;
}