.resume {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    justify-content: flex-start;
    height: 100vh;
    width: 100%; /* Adjust based on sidebar width */
    background-color: #f0f0f0;
    color: #333;
    padding-top: 60px; /* Move content down */
    padding-left: 60px; /* Move content closer to the sidebar */
    margin: 0; /* Ensure no extra margin */
    border: none; /* Ensure no border */
}

.heading1 {
  margin: 0 0 10px 0;
}

.heading2 {
  margin: 0 0 10px 0;
}

.heading3 {
  margin: 0 0 10px 0;
  cursor: pointer;
}

.heading4 {
  margin: 0 0 10px 0;
}

.section {
  margin-bottom: 20px;
}

.job, .education {
  margin-bottom: 20px;
}

.list {
  list-style-type: disc;
  padding-left: 20px;
}

.subsection {
  margin-left: 20px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.breadcrumbs button {
  background: none;
  border: none;
  color: #001f3f;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.breadcrumbs button.active {
  font-weight: bold;
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #001f3f; /* Navy blue text */
}