.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #001f3f; /* Navy blue background */
  color: #fff;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.toggleButton {
  position: absolute;
  top: 10px;
  right: -30px;
  background-color: #001f3f; /* Navy blue background */
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}

.profile {
  text-align: center;
  padding: 20px;
}

.profileImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.name {
  margin-top: 10px;
  font-size: 20px;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.icon {
  margin: 0 10px;
  font-size: 24px;
}

.navRight {
  text-align: center;
  margin: 20px 0;
}

.searchBar {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.separator {
  height: 2px;
  background-color: #3e86ce;
  margin: 20px 0;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navLink {
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  font-size: 18px;
}

.navLink:hover {
  text-decoration: underline;
}